IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = 'POS_InventoryDB')
BEGIN
    CREATE DATABASE [POS_InventoryDB];
END
GO

USE [POS_InventoryDB];
GO
USE [master]
GO
/****** Object:  Database [POS_InventoryDB]    Script Date: 02/09/2026 12:54:24 ص ******/
CREATE DATABASE [POS_InventoryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POS_InventoryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\POS_InventoryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POS_InventoryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\POS_InventoryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POS_InventoryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POS_InventoryDB]
GO
USE [POS_InventoryDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 02/09/2026 12:54:24 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 02/09/2026 12:54:24 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[Address] [nvarchar](200) NULL,
	[Balance] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 02/09/2026 12:54:24 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[CategoryID] [int] NULL,
	[BuyPrice] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NOT NULL,
	[CurrentQty] [int] NOT NULL,
	[MinQtyAlert] [int] NOT NULL,
	[ExpireDate] [date] NULL,
	[Notes] [nvarchar](250) NULL,
	[GenericName] [nvarchar](150) NULL,
	[SellPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ExpiryDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesDetails]    Script Date: 02/09/2026 12:54:24 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[SubTotal]  AS ([Quantity]*[UnitPrice]),
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesInvoiceDetails]    Script Date: 02/09/2026 12:54:24 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesInvoiceDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice]  AS ([Quantity]*[UnitPrice]),
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesInvoices]    Script Date: 02/09/2026 12:54:24 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesInvoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceDate] [datetime] NULL,
	[CustomerID] [int] NULL,
	[UserID] [int] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NULL,
	[FinalAmount] [decimal](18, 2) NOT NULL,
	[PaidAmount] [decimal](18, 2) NOT NULL,
	[RemainingAmount] [decimal](18, 2) NULL,
	[CustomerName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 02/09/2026 12:54:24 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[CompanyName] [nvarchar](150) NULL,
	[Balance] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/09/2026 12:54:24 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'مسكن', N'صداع الراس')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'مضادات حيوية', N'الام المفاصل')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'فيتامينات', N'أدوية ومضادات عن طريق الفم')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [Barcode], [ProductName], [CategoryID], [BuyPrice], [SalePrice], [CurrentQty], [MinQtyAlert], [ExpireDate], [Notes], [GenericName], [SellPrice], [Quantity], [ExpiryDate]) VALUES (1, N'123456', N'بنادول إكسترا 500 ملجم', 1, CAST(1000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0, 5, NULL, NULL, N'Paracetamol + Caffeine', CAST(1100.00 AS Decimal(18, 2)), 20, CAST(N'2027-12-03' AS Date))
INSERT [dbo].[Products] ([ProductID], [Barcode], [ProductName], [CategoryID], [BuyPrice], [SalePrice], [CurrentQty], [MinQtyAlert], [ExpireDate], [Notes], [GenericName], [SellPrice], [Quantity], [ExpiryDate]) VALUES (2, N'1234567', N'انفينات إكسترا 500 ملجم', 1, CAST(1200.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0, 5, NULL, NULL, N'Paracetamol + Caffeine', CAST(1400.00 AS Decimal(18, 2)), 20, CAST(N'2027-12-08' AS Date))
INSERT [dbo].[Products] ([ProductID], [Barcode], [ProductName], [CategoryID], [BuyPrice], [SalePrice], [CurrentQty], [MinQtyAlert], [ExpireDate], [Notes], [GenericName], [SellPrice], [Quantity], [ExpiryDate]) VALUES (3, N'1001', N'بنادول إكسترا 500 ملجم', 4, CAST(1200.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0, 5, NULL, NULL, N'Paracetamol + Caffeine', CAST(1500.00 AS Decimal(18, 2)), 60, CAST(N'2028-05-01' AS Date))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesInvoiceDetails] ON 

INSERT [dbo].[SalesInvoiceDetails] ([DetailID], [InvoiceID], [ProductID], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 30, CAST(1100.00 AS Decimal(18, 2)))
INSERT [dbo].[SalesInvoiceDetails] ([DetailID], [InvoiceID], [ProductID], [Quantity], [UnitPrice]) VALUES (2, 2, 11, 20, CAST(2500.00 AS Decimal(18, 2)))
INSERT [dbo].[SalesInvoiceDetails] ([DetailID], [InvoiceID], [ProductID], [Quantity], [UnitPrice]) VALUES (3, 3, 7, 7, CAST(3000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SalesInvoiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesInvoices] ON 

INSERT [dbo].[SalesInvoices] ([InvoiceID], [InvoiceDate], [CustomerID], [UserID], [TotalAmount], [Discount], [FinalAmount], [PaidAmount], [RemainingAmount], [CustomerName]) VALUES (1, CAST(N'2026-09-01T21:02:39.643' AS DateTime), NULL, NULL, CAST(33000.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), CAST(32000.00 AS Decimal(18, 2)), CAST(25000.00 AS Decimal(18, 2)), CAST(7000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[SalesInvoices] ([InvoiceID], [InvoiceDate], [CustomerID], [UserID], [TotalAmount], [Discount], [FinalAmount], [PaidAmount], [RemainingAmount], [CustomerName]) VALUES (2, CAST(N'2026-09-01T21:38:56.017' AS DateTime), NULL, NULL, CAST(50000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[SalesInvoices] ([InvoiceID], [InvoiceDate], [CustomerID], [UserID], [TotalAmount], [Discount], [FinalAmount], [PaidAmount], [RemainingAmount], [CustomerName]) VALUES (3, CAST(N'2026-09-01T21:56:25.620' AS DateTime), NULL, NULL, CAST(21000.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(20500.00 AS Decimal(18, 2)), CAST(15000.00 AS Decimal(18, 2)), CAST(5500.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[SalesInvoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Username], [Password], [Role], [IsActive]) VALUES (1, N'المدير العام', N'admin', N'1234', N'Admin', 1)
INSERT [dbo].[Users] ([UserID], [FullName], [Username], [Password], [Role], [IsActive]) VALUES (2, N'كاشير الصيدلية', N'user', N'1234', N'Cashier', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__177800D36C13669A]    Script Date: 02/09/2026 12:54:24 ص ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[Barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4DDF01A39]    Script Date: 02/09/2026 12:54:24 ص ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0.00)) FOR [Balance]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.00)) FOR [BuyPrice]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.00)) FOR [SalePrice]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [CurrentQty]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((5)) FOR [MinQtyAlert]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [SellPrice]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[SalesInvoices] ADD  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[SalesInvoices] ADD  DEFAULT ((0.00)) FOR [Discount]
GO
ALTER TABLE [dbo].[SalesInvoices] ADD  DEFAULT ((0.00)) FOR [RemainingAmount]
GO
ALTER TABLE [dbo].[SalesInvoices] ADD  DEFAULT (N'عميل نقدي') FOR [CustomerName]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((0.00)) FOR [Balance]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Cashier') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[SalesDetails]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[SalesInvoices] ([InvoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[SalesInvoiceDetails]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[SalesInvoices] ([InvoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesInvoiceDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[SalesInvoices]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[SalesInvoices]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
USE [master]
GO
